[Unit]
Description=catinder-api
After=syslog.target

[Service]
User=lolcat
ExecStart=/usr/bin/java -jar /home/lolcat/catinder-api.jar --server.port=8090
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
