[Unit]
Description=Lolcat Backent Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/local/bin/docker-compose -f /home/lolcat/infra-master/docker/docker-compose.yml -p lolcat down
ExecStart=/usr/local/bin/docker-compose -f /home/lolcat/infra-master/docker/docker-compose.yml -p lolcat up
ExecStop=/usr/local/bin/docker-compose -f /home/lolcat/infra-master/docker/docker-compose.yml -p lolcat stop

[Install]
WantedBy=multi-user.target
