[Unit]
Description=simple-api
After=syslog.target

[Service]
User=lolcat
ExecStart=/usr/bin/java -jar /home/lolcat/simple-api.jar --server.address=127.0.0.1 --server.port=8081
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
